
    <!---Header-->
    <div class="container-fluid bg-primary">
        <header
          class="d-flex flex-wrap align-items-center py-3 border-bottom border-dark bg-primary"
        >
          <img
            src="https://www.mubis.es/media/users/13585/162125/nueva-app-de-filmaffinity-para-android-original.png"
            width="60px"
            height="60px"
            class="mr-auto"
          />
  
          <ul class="nav col-md-auto offset-md-4">
            <li><a href="#" class="nav-link px-4 link-dark">Home</a></li>
            <div class="v-line"></div>
            <li><a href="#" class="nav-link px-4 link-dark">Cartelera</a></li>
            <div class="v-line"></div>
            <li><a href="#" class="nav-link px-4 link-dark">Reviews</a></li>
            <div class="v-line"></div>
            <li><a routerLink="/contacto" class="nav-link px-4 link-dark">Contacto</a></li>
          </ul>
  
          <div class="col-md-auto">
            <button type="button" class="btn btn-secondary">Entradas</button>
          </div>
        </header>
      </div>
