<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid bg-primary">
      <header
        class="d-flex flex-wrap align-items-center py-3 border-bottom border-dark bg-primary"
      >
        <img
          src="https://www.mubis.es/media/users/13585/162125/nueva-app-de-filmaffinity-para-android-original.png"
          width="60px"
          height="60px"
        />

        <ul class="nav col-md-auto mb-md-0 offset-md-5">
          <li><a href="#" class="nav-link px-4 link-dark">Home</a></li>
          <div class="v-line"></div>
          <li><a href="#" class="nav-link px-4 link-dark">About</a></li>
          <div class="v-line"></div>
          <li><a href="#" class="nav-link px-4 link-dark">Shop</a></li>
          <div class="v-line"></div>
          <li><a href="#" class="nav-link px-4 link-dark">Help</a></li>
        </ul>

        <div class="col-md-auto text-end">
          <button type="button" class="btn btn-secondary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-cart3"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
              />
            </svg>
            Your Cart
          </button>
        </div>
      </header>
    </div>
    <div class="container-fluid text-white">
      <div class="row bg-secondary">
        <div class="p-3 bg-white d-flex flex-column col-md-3">
          <button type="button" class="btn btn-secondary mb-3 col-md-7">
            Filter
          </button>
          <button type="button" class="btn btn-secondary mb-4 col-md-7">
            Reset Filter
          </button>
          <b>Products</b><bR />
          <ul class="list-unstyled text-center">
            <div *ngFor="let datas of data; let index = index">
              <li class="mb-1">
                <button
                  class="btn btn-toggle"
                  (click)="buttonClicked(index + 1)"
                >
                  {{ datas.product }} &nbsp; &nbsp; &nbsp;&#10095;
                </button>
              </li>
              <hr/>
            </div>
          </ul>
        </div>
        <div class="col-md-9">
          <div class="row border-top border-dark">
            <div class="col-md-5">
              <img src="{{ data2.image }}" class="img" />
            </div>
            <div class="col-md-7 text-start">
              <br />
              <h2>{{ data2.product }}</h2>
              <br />
                {{ data2.rating }}&nbsp;reviews
              <hr />
              <br />
              <h2>{{ data2.price }}{{ data2.currency }} Millones</h2>
              <br />
              <hr />
              <br />
              {{ data2.description }}
              <br /><br />
              <hr width="100px" />
              <button type="button" class="btn btn-info mt-2">
                Delete item
              </button>
            </div>
            <div class="col-md-12 border-top border-dark text-center pt-3 mb-3">
              <h1>Similar products</h1>
            </div>
            <div class="col-md-6" *ngFor="let datas2 of data2.similarProducts">
              <div class="row">
                <div class="col-md-6 justify-content-center">
                  <img
                    src="{{datas2.image}}"
                    width="100%"
                  />
                </div>
                <div class="col-md-6">
                  <h3>{{datas2.product}}</h3>
                  <h5>{{datas2.price}}{{datas2.currency}}</h5>
                </div>
              </div>
            </div>
            <div class="col-md-12 border-top border-dark text-start pt-3 mb-3">
              <h1>Reviews</h1>
            </div>
            <div class="col-md-12 mb-3" *ngFor="let datas3 of data2.reviews">
              <div class="row">
                <div class="col-md-1">
                  <img
                    src="{{datas3.image}}"
                    class="img-thumbnail"
                  />
                </div>
                <div class="col-md-2">
                  <h4>{{datas3.name}}</h4>
                  {{datas3.date}}
                </div>
                <div class="col-md-9">
                  {{datas3.opinion}}
                </div>
              </div>
              <hr width="100px" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
