<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid bg-primary">
      <header
        class="d-flex flex-wrap align-items-center py-3 border-bottom border-dark bg-primary"
      >
        <img
          src="https://www.mubis.es/media/users/13585/162125/nueva-app-de-filmaffinity-para-android-original.png"
          width="60px"
          height="60px"
          class="mr-auto"
        />

        <ul class="nav col-md-auto offset-md-4">
          <li><a href="#" class="nav-link px-4 link-dark">Home</a></li>
          <div class="v-line"></div>
          <li><a href="#" class="nav-link px-4 link-dark">Cartelera</a></li>
          <div class="v-line"></div>
          <li><a href="#" class="nav-link px-4 link-dark">Reviews</a></li>
          <div class="v-line"></div>
          <li><a href="#" class="nav-link px-4 link-dark">Contacto</a></li>
        </ul>

        <div class="col-md-auto">
          <button type="button" class="btn btn-secondary">Entradas</button>
        </div>
      </header>
    </div>
    <div class="container-fluid">
      <div class="row bg-secondary">
        <div class="p-3 bg-white d-flex flex-column col-md-3">
          <input
            type="text"
            [(ngModel)]="filtro"
            placeholder="Buscar Pelicula"
          />
          <br />
          <button
            type="button"
            class="btn btn-secondary mb-3"
            (click)="EncuentraPeli()"
          >
            Buscar
          </button>
          <button
            type="button"
            class="btn btn-secondary mb-4"
            (click)="Reset()"
          >
            Reiniciar
          </button>
          <b>Peliculas</b><bR />
          <ul class="list-unstyled text-center">
            <div *ngFor="let datas of data3">
              <li class="mb-1">
                <button
                  class="btn btn-toggle"
                  (click)="buttonClicked(datas.id)"
                >
                  {{ datas.product }} &nbsp; &nbsp; &nbsp;&#10095;
                </button>
              </li>
              <hr />
            </div>
          </ul>
          Filtrado por puntuación
          <select [(ngModel)]="estrella" (change)="EncuentraEstrellas()">
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
          </select>
        </div>
        <div class="col-md-9">
          <div class="row border-top border-dark">
            <div class="col-md-5">
              <img src="{{ data2.image }}" class="img" />
            </div>
            <div class="col-md-7 text-start">
              <br />
              <h2>{{ data2.product }}</h2>
              <br />
              <span
                *ngFor="let estrella of estrellasAmarillas; let i = index"
                [ngClass]="{ 'estrella-amarilla': i < data2.rating }"
                >★</span
              >
              {{ data2.rating }}&nbsp;reviews
              <hr />
              <br />
              <h2>{{ data2.price }} Millones de {{ data2.currency }}</h2>
              <br />
              <hr />
              <br />
              {{ data2.description }}
              <br /><br />
              <hr width="100px" />
              <button
                type="button"
                class="btn btn-info mt-2"
                (click)="DeletePeli(data2.id)"
              >
                Borrar
              </button>
            </div>
            <div class="col-md-12 border-top border-dark text-center pt-3 mb-3">
              <h1><u>Peliculas relacionadas</u></h1>
            </div>
            <div class="col-md-6" *ngFor="let datas2 of data2.similarProducts">
              <div class="row">
                <div class="col-md-6 justify-content-center mt-1 mb-1">
                  <a (click)="buttonClicked(datas2.id)"
                    ><img src="{{ datas2.image }}" width="100%"
                  /></a>
                </div>
                <div class="col-md-6">
                  <h3>{{ datas2.product }}</h3>
                  <span
                    *ngFor="let estrella of estrellasAmarillas; let i = index"
                    [ngClass]="{ 'estrella-amarilla': i < datas2.rating }"
                    >★</span
                  >
                  <h5>{{ datas2.price }} Millones de {{ datas2.currency }}</h5>
                  <button class="btn btn-info mt-2">Detalles</button>
                </div>
              </div>
            </div>
            <div class="col-md-12 border-top border-dark text-start pt-3 mb-3">
              <h1><u>Opiniones</u></h1>
            </div>
            <div class="col-md-12 mb-3" *ngFor="let datas3 of data2.reviews">
              <div class="row">
                <div class="col-md-2">
                  <img src="{{ datas3.image }}" class="img-thumbnail" />
                </div>
                <div class="col-md-2">
                  <h4>{{ datas3.name }}</h4>
                  {{ datas3.date }}

                  <span
                    *ngFor="let estrella of estrellasAmarillas; let i = index"
                    [ngClass]="{ 'estrella-amarilla': i < datas3.rating }"
                    >★</span
                  >
                </div>
                <div class="col-md-8">
                  {{ datas3.opinion }}
                </div>
              </div>
              <hr width="100px" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
