/* * {
    border: 1px solid black;
} */

.v-line{
    border: 1px solid black;
    height:40px;
    width: 2px;
   }

   .img{
    height: 100%;
    width: 100%;
   }

   hr{
    border: 1px solid black;
   }