<!---Header-->
<div class="bg-primary">
  <header
    class="d-flex align-items-center py-3 border-bottom border-dark bg-primary"
  >
    <img
      src="https://www.mubis.es/media/users/13585/162125/nueva-app-de-filmaffinity-para-android-original.png"
      width="60px"
      height="60px"y
      class="offset-md-1"
    />

    <ul class="nav ml-5 col-md-auto offset-md-3">
      <li><a routerLink="/home" class="nav-link px-4 link-dark">Home</a></li>
      <div class="v-line"></div>
      <li><a class="nav-link px-4 link-dark">Cartelera</a></li>
      <div class="v-line"></div>
      <li>
        <a routerLink="/guard" class="nav-link px-4 link-dark">Privado</a>
      </li>
      <div class="v-line"></div>
      <li>
        <a routerLink="/contact" class="nav-link px-4 link-dark">Contacto</a>
      </li>
    </ul>

    <div class="col-md-auto">
      <button type="button" class="btn btn-secondary">Entradas</button>
    </div>
  </header>
</div>
